<% provide(:title, "| "+@shoplist.name) %>

<h1><%= @shoplist.name %></h1>
<div class="row">
  <div class="span8">
    <% if @shoplist.products.any? %>

        <table>
          <% @products.each do |product| %>
              <tr>
                <td><%= link_to product.name, product %></td>
                <% product.prices.each do |price|  %>
                    <td><%= price.price %></td>
                    <td><%= price.shop %></td>
                <% end %>
              </tr>
          <%end%>
        </table>

    <% end %>


  </div>
</div>
<br>
<%= link_to "Pridať produkty", shoplist_products_path(@shoplist.id), class: "btn btn-success"%>