<%provide(:title, '| Produkty')%>
<h1>Tu budú všetky produkty</h1>

<%= will_paginate %>
<ul class="products">
  <% @products.each do |product| %>
      <li>
        <%= product.name %>
        <%= link_to 'Pridať do zoznamu', '#' %>
      </li>
  <% end %>
</ul>
<%= will_paginate %>

  <br>
  <%=form_for(@product) do |p|%>
      <%= p.text_field :name %>
      <%= p.submit "Pridať produkt", class: "btn btn-success" %>
  <% end %>

