<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <% if signed_in? %>
        <%= link_to "ShopList", '#', id: "logo" %>
      <% else %>
        <%= link_to "ShopList", root_path, id: "logo" %>
      <%end%>
      <nav>
        <ul class="nav pull-left">
          <% if signed_in? %>
            <li><%= link_to "Produkty", products_path %></li>
            <li><%= link_to "Zoznam", '#' %></li>
          <%end%>
        </ul>
      </nav>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
          <li><%= link_to "Domov", '#' %></li>
              <li><%= link_to "Odhl치si콘 sa", signout_path, method: "delete" %></li>
          <% else %>
              <li><%= link_to "Domov", root_path %></li>
              <li><%= link_to "Prihl치si콘 sa", signin_path %></li>
              <%end%>
        </ul>
      </nav>
    </div>
  </div>

</header>